<%- include('./layout') -%>
<body>
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2 class="my-5">Vista de Productos</h2>
      
      <% if(error){ %>
        <div class="alert alert-warning" role="alert">
          <%= error %>
        </div>
      <% } %>

      <% if(data){ %>
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Foto</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(producto => { %>
              <tr>
                <td><%= producto.title %></td>
                <td>$<%= producto.price %></td>
                <td><img src="<%= producto.thumbnail %>" style="width:50px;height:50px;object-fit:contain;object-position:center;"></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %>
  
    </div>
  </div>
</body>
</html>
